{% extends "base.html" %}
{% block content %}
    <div class="text-center">
        {% if request.user.is_authenicated %}
            Hello {{ request.user.username }}
        {% else %}
            Hello Anonymous user!
        {% endif %}
        <p>Create a new <a class = "btn btn-primary" href="create_todo">Todo</a></p>
    </div>
    <div class="col-4 offset-4">
        {% for todo in todos %}
            <div class="card mt-3">
                <div class="card-header">
                    <a href="{{ todo.id }}">{{ todo.name }}</a>
                </div>
                <div class="card-body">
                    <p>It's due is on {{ todo.due_date }}</p>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock content %}